body {
  background-image: url("coringa.jpg");
  background-size: cover;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5em;
  color: white;
  background-color: rgb(255, 0, 0);
  text-align: center;
}
div.principal .titulo1, h1 {
  font-size: 5em;
  color: red; 
  text-align: center; 
}
h2 {
  font-size: 3em;
  color: red;
  text-align: center;
}
button{
  width: 200;
  margin: 0 auto;
  display: block;
  text-align: center;
}
